<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dispatcher</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <table class="table table-hover bg-white">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Join Date</th>
            <th scope="col">Gender</th>
            <th scope="col">Status</th>
            <th scope="col">More</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-truncate align-middle">
              <img src="../../../assets/img/Profile.jpg" alt="Avatar" class="avatar mr-3">
              <span class="text-truncate">Shwell Flintof</span>
            </td>
            <td class="align-middle">shwellFlint@gmail.com</td>
            <td class="align-middle"> <span>+92 332 3036139</span></td>
            <td class="align-middle"> <span>15-FEB-2019</span></td>
            <td class="align-middle"> <span>Male</span></td>
            <td class="align-middle"><span class="badge badge-success">Active</span></td>
            <td class="align-middle"><i class="fas fa-ellipsis-v"></i></td>
          </tr>

          <tr>
            <td class="text-truncate">
              <img src="../../../assets/img/2.png" alt="Avatar" class="avatar mr-3">
              <span class="text-truncate">Ogasawara Katsumi</span>
            </td>
            <td class="align-middle">ogaats@hmail.com</td>
            <td> <span class="align-middle">+92 335 8897256</span></td>
            <td> <span class="align-middle">02-DEC-2019</span></td>
            <td> <span class="align-middle">Female</span></td>
            <td><span class="badge badge-success">Active</span></td>
            <td><i class="fas fa-ellipsis-v"></i></td>
          </tr>
          <tr>
            <td class="text-truncate">
              <img src="../../../assets/img/1.png" alt="Avatar" class="avatar mr-3">
              <span class="text-truncate"> Mbe Tshinguta</span>
            </td>
            <td class="align-middle">tshinguta@hmail.com</td>
            <td> <span class="align-middle">+92 340 1033132</span></td>
            <td> <span class="align-middle">19-MAR-2020</span></td>
            <td> <span class="align-middle">Female</span></td>
            <td><span class="badge badge-danger">Inactive</span></td>
            <td><i class="fas fa-ellipsis-v"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
