<app-header></app-header>
<div class="welcome-area" id="welcome">

  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <h1>Welcome to <em>NAZDEEQ</em></h1>
          <p>If you are travelling long distances on a daily basis from your office to home and petrol expenses are
            high, then the driver can specify his route on which he daily travels and pick up passengers on the way to
            save money.</p>
          <a routerLink="/login" class="main-button-slider color-gradient">Login</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>

<section class="section" id="promotion">
  <div class="container">
      <div class="row">
        <div class="outer-div">
          <div class="inner-div">
            <div class="front">
              <div class="front__bkg-photo"></div>
              <!-- <div class="front__face-photo"></div> -->
              <img src="/assets/img/Profile.jpg" class="front__face-photo" alt="">
              <div class="front__text">
                <h3>Sanjay Kumar</h3>
                <p>Web Developer</p>
                <p>itsmesankumar@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="outer-div">
          <div class="inner-div">
            <div class="front">
              <div class="front__bkg-photo"></div>
              <!-- <div class="front__face-photo"></div> -->
              <img src="/assets/img/male.png" class="front__face-photo" alt="">
              <div class="front__text">
                <h3>Dr. Shaharyar Kamal</h3>
                <h5>(Assistant Professor)</h5>
                <p>Supervisor</p>
                <p>shaharyar.kamal@mail.au.edu.pk</p>
              </div>
            </div>
          </div>
        </div>
        <div class="outer-div">
          <div class="inner-div">
            <div class="front">
              <div class="front__bkg-photo"></div>
              <!-- <div class="front__face-photo"></div> -->
              <img src="https://i.ibb.co/DC9FMVy/pp1.jpg" class="front__face-photo" alt="">
              <div class="front__text">
                <h3>Jaffar Haider</h3>
                <p>Android Developer</p>
                <p>jaffarhaider12@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<app-footer></app-footer>
