<div class="modal-header">
  <h4 class="modal-title">Register Passenger</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeWindow()">
    <!-- <span aria-hidden="true">&times;</span> -->
    <i class="far fa-times-circle"></i>
  </button>
</div>
<div class="modal-body ">
  <div class="row">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <form [formGroup]="addPassengerForm" (ngSubmit)="registerPassenger()">
        <div class="form-group">
          <input type="text" name="firstName" formControlName="firstName"
            class="form-control border border-info rounded-pill" placeholder="First Name">
          <!-- <small *ngIf="batchRegisterForm.get('department')| isvalid: ['required']" class="error-msg">This field is
            required!</small> -->
        </div>
        <div class="form-group">
          <input type="text" name="lastName" formControlName="lastName"
            class="form-control border border-info rounded-pill" placeholder="Last Name">
          <!-- <small *ngIf="batchRegisterForm.get('department')| isvalid: ['required']" class="error-msg">This field is
            required!</small> -->
        </div>
        <div class="form-group">
          <input type="email" name="email" formControlName="email" class="form-control border border-info rounded-pill"
            placeholder="Email">
          <!-- <small *ngIf="batchRegisterForm.get('department')| isvalid: ['required']" class="error-msg">This field is
            required!</small> -->
        </div>
        <div class="form-group">
          <input type="text" name="phoneNo" formControlName="phoneNo"
            class="form-control border border-info rounded-pill" placeholder="Phone No">
          <!-- <small *ngIf="batchRegisterForm.get('department')| isvalid: ['required']" class="error-msg">This field is
            required!</small> -->
        </div>
        <div class="form-group">
          <input type="password" name="password" formControlName="password"
            class="form-control border border-info rounded-pill" placeholder="Password">
          <!-- <small *ngIf="batchRegisterForm.get('department')| isvalid: ['required']" class="error-msg">This field is
            required!</small> -->
        </div>
        <div class="btn-group btn-group-toggle d-flex justify-content-center" ngbRadioGroup name="gender" formControlName="gender">
          <label ngbButtonLabel class="btn-info btn-sm">
            <input ngbButton type="radio" [value]="true"> Male
          </label>
          <label ngbButtonLabel class="btn-info btn-sm">
            <input ngbButton type="radio" [value]="false"> Female
          </label>
        </div>
        <div class="input-group d-flex justify-content-center mt-2">
          <input class="form-control date-picker" placeholder="yyyy-mm-dd" name="dateOfJoin" formControlName="dateOfJoin"
           type="text">
          <div class="input-group-append">
            <button class="btn btn-outline-info calendar" type="button"><i
                class="far fa-calendar-alt"></i></button>
          </div>
        </div>
        <div class="btn-group btn-group-toggle d-flex justify-content-center mt-2" ngbRadioGroup name="status" formControlName="status">
          <label ngbButtonLabel class="btn-info btn-sm">
            <input ngbButton type="radio" [value]="true"> Active
          </label>
          <label ngbButtonLabel class="btn-info btn-sm">
            <input ngbButton type="radio" [value]="false"> Inactive
          </label>
        </div>
        <div class="form-group">
          <label>Image</label>
          <input type="file" class="form-control-file" (change)="onFileSelected($event)">
        </div>
        <div class="d-flex justify-content-center mt-2">
          <button type="submit" class="btn btn-outline-info rounded-pill btn-lg float-right">Save</button>
        </div>
      </form>
    </div>
    <div class="col-sm-2"> </div>
  </div>
</div>
