<div class="container-fluid">
  <div class="row full-height" [ngBusy]="subscription">
    <div class="col-sm-4 color-gradient ">
    </div>
    <div class="col-sm-8 text-center">
      <div class="row">
        <div class="col"> </div>
        <div class="col-6">
          <img src="../../../assets/img/logo.png" width="50%" alt="">
          <h1 class="text-secondary text-center"> Nazdeeq</h1>
          <p class="text-secondary text-center">Join us & share your ride to reduce the effect on the environment!</p>
          <hr>
          <div *ngIf="error">
            <ngb-alert [type]="'danger'" (close)="clearError()">{{ error }}</ngb-alert>
          </div>
          <form [formGroup]="loginForm">
            <div class="form-group d-flex justify-content-center">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email" name="email" formControlName="email">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
              </div>
            </div>
            <small *ngIf="loginForm.get('email') | isvalid: ['required']" class="error-msg">This field is
              required!</small>
            <div class="form-group d-flex justify-content-center">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Password" name="password"
                  formControlName="password">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
              </div>
            </div>
            <small *ngIf="loginForm.get('password') | isvalid: ['required']" class="error-msg">This field is
              required!</small>
            <!-- <button type="submit" class="btn btn-dark btn-round color-gradient">Login</button> -->
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button type="button" class="btn btn-dark color-gradient" id="dropdownManual" ngbDropdownAnchor
                (focus)="myDrop.open()">Login As</button>
              <div class="rounded-top" ngbDropdownMenu aria-labelledby="dropdownManual">
                <button class="btn btn-dark" (click)="login('admin')" ngbDropdownItem>Admin</button>
                <button class="btn btn-dark" (click)="login('user')" ngbDropdownItem>User</button>
              </div>
            </div>
            <div class="separator "> <span class="circle">OR</span></div>
            <div class="d-inline">
              <a class="btn btn-light btn-round google-btn shadow" (click)="signInWithGoogle()">
                <img width="20px" class="google-logo" alt="Google sign-in" src="/assets/img/google.png" />
               <label for="" class="ml-2 text-secondary"> Sign in with Google</label>
              </a>
            </div>
            <div class="d-inline ml-2">
              <a class="btn btn-primary btn-round shadow" (click)="signInWithFacebook()">
                <img width="20px" class="facebook-logo" alt="Google sign-in" src="/assets/img/facebook.png" />
               <label for="" class="ml-2 text-light"> Sign in with Facebook</label>
              </a>
            </div>
              <hr>
            <div>
              <button class="btn btn-link " routerLink="/signup">Not registred? Create an account</button>
            </div>
          </form>
        </div>

        <div class="col"></div>
      </div>

    </div>
  </div>
</div>
