<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4">
    <h1 class="h3 mb-0 text-gray-800">Passenger</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <form class="mt-4">
        <div class="form-group form-inline">
        <input  class="form-control  ml-2" type="text" placeholder="Search" name="searchsText" [(ngModel)]="searchText" />
        </div>
      </form>
      <table class="table table-hover bg-white">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Gender</th>
            <th scope="col">Join Date (YYYY-MM-DD)</th>
            <th scope="col">Status</th>
            <th scope="col">More</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let passenger of passengers  | filter:searchText">
            <td class="text-truncate">
              <img src="/assets/img/male.png" *ngIf="passenger.gender" alt="Avatar" class="avatar mr-3">
              <img src="/assets/img/female.png" *ngIf="!passenger.gender" alt="Avatar" class="avatar mr-3">
              <span class="text-truncate"> {{passenger.firstName}} {{passenger.lastName}}</span>
            </td>
            <td class="align-middle">{{passenger.email}}</td>
            <td> <span class="align-middle">{{passenger.phoneNo}}</span></td>
            <td> <span class="align-middle">{{passenger.gender == true ? 'Male' : 'Female'}}</span></td>
            <td> <span class="align-middle">{{passenger.dateOfJoin}}</span></td>
            <td><span
                [ngClass]="passenger.status ? 'badge badge-success' :  'badge badge-danger'">{{passenger.status == true ? 'Active' : 'Inactive'}}</span>
            </td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn color-gradient text-light" id="dropdownBasic1" ngbDropdownToggle><i
                    class="fas fa-ellipsis-v"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="populateUserTripDetails(passenger._id, passenger.firstName)">Show
                    Details</button>
                  <button ngbDropdownItem (click)="openConfirmationPopup(passenger)"><span ngbDropdownItem
                      [ngClass]="passenger.status ? 'badge badge-danger' :  'badge badge-success'">{{passenger.status == true ? 'Inactive' : 'Active'}}</span></button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
