.ng-busy-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background: #000;
  opacity: .25;
}

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  background: url(/assets/img/spinner.svg) no-repeat;
  background-size: 70px;
  border-radius: 50%;
}

.table-loader{
  position: relative;
  .loader {
    top:  80px;
  }
  .ng-busy-backdrop {
    top: 50px;
    min-height: 80px;
  }
}

