<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4">
    <h1 class="h3 mb-0 text-gray-800">Driver</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <table class="table table-hover bg-white">
        <thead>
          <tr>
            <th scope="col">CNIC</th>
            <th scope="col">Driving License</th>
            <th scope="col">Service Type</th>
            <th scope="col">Join Date</th>
            <th scope="col">Status</th>
            <th scope="col">More</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let driver of drivers; index as i" (click)="populateVehicleDriverDetails(driver._id)">
            <td class="align-middle">{{driver.cnicNo}}</td>
            <td> <span class="align-middle">{{driver.driverLicenseNo}}</span></td>
            <td> <span class="align-middle">{{driver.serviceType}}</span></td>
            <td> <span class="align-middle">{{driver.dateOfJoin}}</span></td>
            <td><span
              [ngClass]="driver.status ? 'badge badge-success' :  'badge badge-danger'">{{driver.status == false ? 'Inactive' : 'Active'}}</span>
          </td>
            <td><i class="fas fa-ellipsis-v"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
