<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <app-ticket></app-ticket>
  <app-recent-trips></app-recent-trips>

  <div class="row">
    <div class="col-6">
      <app-dispatcher-status></app-dispatcher-status>
    </div>
    <div class="col-6">
      <app-driver-status></app-driver-status>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-registered-user></app-registered-user>
    </div>
    <div class="col-6">
      <app-registered-driver></app-registered-driver>
    </div>
  </div>
</div>
