<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <!-- <a href="" class="logo">
                      Nazdeeq
                  </a> -->
                  <a class="logo" routerLink="/home">
                    <img src="/assets/img/logo.png" class="d-inline-block brand-img" alt="">
                    Nazdeeq
                  </a>
              </nav>
          </div>
      </div>
  </div>
</header>
