<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Confirmation</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeWindow()">
    <i class="far fa-times-circle"></i>
  </button>
</div>
<div class="modal-body">
  <p>Do you want to update the status of <strong><span class="text-warning ">"{{data.firstName}}"</span></strong></p>
</div>
<div class="modal-footer">
  <button  type="button" class="btn text-light color-gradient" (click)="update(isConfirm)">Okay</button>
  <button type="button" class="btn text-light color-gradient" (click)="ngModalRef.dismiss(!isConfirm)">Cancel</button>
</div>
